//color variables
$background-black: #202020;
$dark-purple: #4e1286;
$violet: #8A2BE2;
$violet-hover: #9d4ee7;
$light-purple: #af6eeb;
$retro-cream: #F0F0E4;

$lemon: #F4E8C1;
$light-lemon: #fcf8ec;
$opal: #A0C1B9;
$pewter: #70A0AF;
$pewter_hover: #8cb3bf;
$dark_blue_gray: #706993;
$dark_purple: #331E38;

$mid-century-brown: #7B3C3C;
$mid-century-orange: #DB5F29;
$mid-century-orange-hover: #df6f3f;
$mid-century-peach: #e6906a;
$mid-century-cream: #F0F0E4;
$mid-century-blue: #68BDE1;

$light-grey: rgb(244, 238, 238);
$medium-grey: rgb(222, 216, 216);
$charcoal: rgb(111, 109, 109);
$sea-green: #20b2aa;
$sea-green-hover: #24c8bf;
$yellow: #f9e559;
$dark-charcoal: #473e3f;

// font variables:
$spartan: "League Spartan", Helvetica, sans-serif;
